* {
margin:0;  
color:#fff;
}
.content{    
display: flex;
height: calc(100vh - 200px);
background: rgb(156, 218, 140);
}
header, footer{
height: 100px;
background: rgb(164, 147, 226);
}
aside {
flex: 1;
}
main {
background: rgb(230, 136, 136);
flex: 5 0 450px;
}
section{
display: flex;
}
section > div {  
background: rgb(31, 111, 185);
margin:5px;
flex: 1 1 100px;
height: 100px;
} 